{% extends "base.html" %} {% block content %}
<header class="about_heading">
  <h1>How I got here</h1>
</header>
<div class="about-text-container">
  <img
    src="{{url_for('static', filename='img/worlds_collide.webp') }}"
    style="margin-right: 10px"
  />
  <p class="about_story">
    Over the last 17 years, my journey through medical imaging technology has
    been rewarding, notably in patient care and leadership roles that improved
    team environments and patient outcomes. My experience has sharpened unique
    skills such as attention to detail and proactive problem-solving, steering
    my career transition towards Data/Software Engineering. With a passion for
    cutting-edge technology, I've spent the last two years preparing to make a
    meaningful impact in the tech world. Now, ready for new challenges, I'm
    eager to leverage my background and skills to drive innovation and success 
    for your business.
  </p>
</div>
{% endblock %}
