{% extends "base.html" %} {% block content %}

<ul class="contact_info">
  <li>
    <a
      href="mailto:rainey.justin80@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="fas fa-envelope fa-2x"></i
    ></a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/justin-rainey-4347a97/"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="fab fa-linkedin fa-2x"></i
    ></a>
  </li>
  <li>
    <a
      href="https://github.com/JRainey80"
      target="_blank"
      rel="noopener noreferrer"
      ><i class="fab fa-github fa-2x"></i
    ></a>
  </li>
  <li class="Cell:">Cell: US-1-614-327-2524</li>
</ul>

{% endblock %}
