{% extends "base.html" %} {% block content %}
<header class="home_heading">
  <h1>Justin Rainey</h1>
</header>
<!--<div class="home_head">
  <img src="{{url_for("static", filename='/img/red.jpg') }}">
</div>
<div class="ai_j2">
  <img src="{{url_for("static",
  filename='/img/0d2a4a76-4-272911-Justi2-man-Forex-charts-background-business-man-cartoon.png')
  }}">
</div>
<div class="ai_j3">
  <img src="{{url_for("static",
  filename='/img/f41b8e9e-3-272911-Justi2-man-sunglasses-leather-jacket-(explosions)art-by-greg-rutkowski-cinematic.png')
  }}">
</div>
<div class="ai_j1">
  <img src="{{url_for("static",
  filename='/img/9428a0e8-3-272911-handsome-portrait-of-male-Justi2-man-give-space-above-the-head-(coloured-ink-dra.png')
  }}">
</div>
<div class="index">
<div class="photo-gallery">
  {% for head in head_shots %}
  <img src="{{ url_for('static', filename=head) }}" alt="Photo">
  {% endfor %}
</div>
</div>-->
<div class="image-container">

  <span style="--i: 1">
    <img src="{{ url_for('static', filename='img/toonie_600.png') }}" />
  </span>
  <span style="--i: 2">
    <img src="{{ url_for('static', filename='img/explosions_600.png') }}" />
  </span>
  <span style="--i: 3">
    <img src="{{ url_for('static', filename='img/Steampunk.png') }}" />
  </span>
  <span style="--i: 4">
    <img src="{{ url_for('static', filename='img/splat_2.png') }}" >
  </span>
  <span style="--i: 5">
    <img src="{{ url_for('static', filename='img/sleek_2.png') }}" />
  </span>
  <span style="--i: 6">
    <img src="{{ url_for('static', filename='img/rebel_command_2.png') }}" />
  </span>
  <span style="--i: 7">
    <img src="{{ url_for('static', filename='img/head.png') }}" width="1180" height="1621"/>
  </span>
</div>
<div class="btn-container">
  <button class="btn" id="prev"><</button>
  <button class="btn" id="next">></button>
</div>


<script src="{{ url_for('static', filename='rotator.js') }}"></script>

{% endblock %}
