{% extends "base.html" %} {% block content %}
<header class="project_heading">
  <h1>So Far</h1>
</header>
<!--<div class="project_listing">
  <h2>This Site:</h2>-->
<div class="text-container">
  <img src="{{url_for('static', filename='img/creating_a_site.webp') }}" style="margin-right: 10px;">
  <p class="projects_story">
      Creating this website has been a fulfilling journey of learning, starting with enhancing my Python 
      skills, adopting Flask for its suitability for simple, static sites, and polishing my CSS and HTML 
      knowledge for better visual appeal. I managed my code across Linux and Windows using GitHub. More 
      than just displaying my projects and brand, this endeavor aimed to establish a solid foundation for 
      ambitious future projects, including website dockerization, Azure deployment, CI/CD pipeline integration,
      and comprehensive automation with Terraform..    
  </p>
    
    <!--<video class="me_vid_one" width="320" height="240" controls>
      <source src="{{url_for("static", filename='null') }}" type="video/mp4">
    </video>-->
</div>
<!--</div>-->

{% endblock %}
